PORT=
SESSION_EXPIRY_IN_MINUTES=1500
NODE_ENV= "development" or "production"
MONGODB_URL= your_mongodb_url
FILE_SERVICE_INTERNAL_API_KEY=xxxxx
FILE_SERVICE_URL=http://localhost:8001
LOG_LEVEL=info
BASE_URL=http://localhost:8000
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=
